In [1]:
import pandas as pd
from datasets.get_dataset import get_file_path

json_path = get_file_path()

mtg_dataset = pd.read_json(json_path)

(mtg_dataset.head())

,object,id,oracle_id,multiverse_ids,mtgo_id,mtgo_foil_id,tcgplayer_id,cardmarket_id,name,lang,...,tcgplayer_etched_id,flavor_name,attraction_lights,color_indicator,printed_type_line,printed_text,variation_of,life_modifier,hand_modifier,content_warning
0,card,0000579f-7b35-4ed3-b44c-db2a538066fe,44623693-51d6-49ad-8cd7-140505caf02f,[109722],25527.0,25528.0,14240.0,13850.0,Fury Sliver,en,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,card,00006596-1166-4a79-8443-ca9f82e6db4e,8ae3562f-28b7-4462-96ed-be0cf7052ccc,[189637],34586.0,34587.0,33347.0,21851.0,Kor Outfitter,en,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,card,0000a54c-a511-4925-92dc-01b937f9afad,dc4e2134-f0c2-49aa-9ea3-ebf83af1445c,[],NaN,NaN,98659.0,NaN,Spirit,en,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,card,0000cd57-91fe-411f-b798-646e965eec37,9f0d82ae-38bf-45d8-8cda-982b6ead1d72,[435231],65170.0,65171.0,145764.0,301766.0,Siren Lookout,en,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,card,00012bd8-ed68-4978-a22d-f450c8a6e048,5aa12aff-db3c-4be5-822b-3afdf536b33e,[1278],NaN,NaN,1623.0,5664.0,Web,en,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
(mtg_dataset.columns)

Index(['object', 'id', 'oracle_id', 'multiverse_ids', 'mtgo_id',
       'mtgo_foil_id', 'tcgplayer_id', 'cardmarket_id', 'name', 'lang',
       'released_at', 'uri', 'scryfall_uri', 'layout', 'highres_image',
       'image_status', 'image_uris', 'mana_cost', 'cmc', 'type_line',
       'oracle_text', 'power', 'toughness', 'colors', 'color_identity',
       'keywords', 'legalities', 'games', 'reserved', 'foil', 'nonfoil',
       'finishes', 'oversized', 'promo', 'reprint', 'variation', 'set_id',
       'set', 'set_name', 'set_type', 'set_uri', 'set_search_uri',
       'scryfall_set_uri', 'rulings_uri', 'prints_search_uri',
       'collector_number', 'digital', 'rarity', 'flavor_text', 'card_back_id',
       'artist', 'artist_ids', 'illustration_id', 'border_color', 'frame',
       'full_art', 'textless', 'booster', 'story_spotlight', 'edhrec_rank',
       'penny_rank', 'prices', 'related_uris', 'purchase_uris', 'all_parts',
       'promo_types', 'arena_id', 'security_stamp', 'card_faces', 'preview',
       'produced_mana', 'watermark', 'frame_effects', 'loyalty',
       'printed_name', 'tcgplayer_etched_id', 'flavor_name',
       'attraction_lights', 'color_indicator', 'printed_type_line',
       'printed_text', 'variation_of', 'life_modifier', 'hand_modifier',
       'content_warning'],
      dtype='object')

In [5]:
data_significant_columns = ['id', 'name', 'released_at', 'mana_cost', 'cmc', 'color_identity', 'keywords', 'legalities', 'set', 'set_name', 'rarity', 'type_line', 'oracle_text', 'flavor_text', 'edhrec_rank', 'produced_mana', 'loyalty', 'printed_name', 'flavor_name', 'life_modifier', 'hand_modifier']

subset = mtg_dataset[data_significant_columns]

(subset.head())

,id,name,released_at,mana_cost,cmc,color_identity,keywords,legalities,set,set_name,...,type_line,oracle_text,flavor_text,edhrec_rank,produced_mana,loyalty,printed_name,flavor_name,life_modifier,hand_modifier
0,0000579f-7b35-4ed3-b44c-db2a538066fe,Fury Sliver,2006-10-06,{5}{R},6.0,[R],[],"{'standard': 'not_legal', 'future': 'not_legal...",tsp,Time Spiral,...,Creature â€” Sliver,All Sliver creatures have double strike.,"""A rift opened, and our arrows were abruptly s...",6911.0,NaN,NaN,NaN,NaN,NaN,NaN
1,00006596-1166-4a79-8443-ca9f82e6db4e,Kor Outfitter,2009-10-02,{W}{W},2.0,[W],[],"{'standard': 'not_legal', 'future': 'not_legal...",zen,Zendikar,...,Creature â€” Kor Soldier,"When Kor Outfitter enters the battlefield, you...","""We take only what we need to survive. Believe...",16425.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0000a54c-a511-4925-92dc-01b937f9afad,Spirit,2015-05-22,,0.0,[W],[Flying],"{'standard': 'not_legal', 'future': 'not_legal...",tmm2,Modern Masters 2015 Tokens,...,Token Creature â€” Spirit,Flying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000cd57-91fe-411f-b798-646e965eec37,Siren Lookout,2017-09-29,{2}{U},3.0,[U],"[Flying, Explore]","{'standard': 'not_legal', 'future': 'not_legal...",xln,Ixalan,...,Creature â€” Siren Pirate,Flying\nWhen Siren Lookout enters the battlefi...,NaN,14267.0,NaN,NaN,NaN,NaN,NaN,NaN
4,00012bd8-ed68-4978-a22d-f450c8a6e048,Web,1994-04-01,{G},1.0,[G],[Enchant],"{'standard': 'not_legal', 'future': 'not_legal...",3ed,Revised Edition,...,Enchantment â€” Aura,Enchant creature (Target a creature as you cas...,NaN,22123.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
import datasets.get_dataset as gd

# print(gd.get_file_path())

subset_test = gd.get_subset()

(subset_test.head())

,id,name,released_at,mana_cost,cmc,color_identity,keywords,legalities,set,set_name,...,type_line,oracle_text,flavor_text,edhrec_rank,produced_mana,loyalty,printed_name,flavor_name,life_modifier,hand_modifier
0,0000579f-7b35-4ed3-b44c-db2a538066fe,Fury Sliver,2006-10-06,{5}{R},6.0,[R],[],"{'standard': 'not_legal', 'future': 'not_legal...",tsp,Time Spiral,...,Creature â€” Sliver,All Sliver creatures have double strike.,"""A rift opened, and our arrows were abruptly s...",6911.0,NaN,NaN,NaN,NaN,NaN,NaN
1,00006596-1166-4a79-8443-ca9f82e6db4e,Kor Outfitter,2009-10-02,{W}{W},2.0,[W],[],"{'standard': 'not_legal', 'future': 'not_legal...",zen,Zendikar,...,Creature â€” Kor Soldier,"When Kor Outfitter enters the battlefield, you...","""We take only what we need to survive. Believe...",16425.0,NaN,NaN,NaN,NaN,NaN,NaN
2,0000a54c-a511-4925-92dc-01b937f9afad,Spirit,2015-05-22,,0.0,[W],[Flying],"{'standard': 'not_legal', 'future': 'not_legal...",tmm2,Modern Masters 2015 Tokens,...,Token Creature â€” Spirit,Flying,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0000cd57-91fe-411f-b798-646e965eec37,Siren Lookout,2017-09-29,{2}{U},3.0,[U],"[Flying, Explore]","{'standard': 'not_legal', 'future': 'not_legal...",xln,Ixalan,...,Creature â€” Siren Pirate,Flying\nWhen Siren Lookout enters the battlefi...,NaN,14267.0,NaN,NaN,NaN,NaN,NaN,NaN
4,00012bd8-ed68-4978-a22d-f450c8a6e048,Web,1994-04-01,{G},1.0,[G],[Enchant],"{'standard': 'not_legal', 'future': 'not_legal...",3ed,Revised Edition,...,Enchantment â€” Aura,Enchant creature (Target a creature as you cas...,NaN,22123.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
subset_test.isnull().sum()

id                    0
name                  0
released_at           0
mana_cost          2890
cmc                  43
color_identity        0
keywords              0
legalities            0
set                   0
set_name              0
rarity                0
type_line            43
oracle_text        3504
flavor_text       48391
edhrec_rank       11256
produced_mana     78343
loyalty           90870
printed_name      89986
flavor_name       91995
life_modifier     92098
hand_modifier     92098
dtype: int64

In [10]:
subset_test.describe()

,released_at,cmc,edhrec_rank,life_modifier,hand_modifier
count,92217,92174.000000,80961.000000,119.000000,119.000000
mean,2014-12-21 04:46:30.617782016,24.546580,10061.820605,1.084034,0.084034
min,1993-08-05 00:00:00,0.000000,1.000000,-8.000000,-4.000000
25%,2009-08-28 00:00:00,1.000000,2860.000000,-3.000000,-1.000000
50%,2018-10-05 00:00:00,3.000000,8558.000000,0.000000,0.000000
75%,2022-04-29 00:00:00,4.000000,16517.000000,4.000000,1.000000
max,2024-10-01 00:00:00,1000000.000000,26570.000000,30.000000,3.000000
std,NaN,4658.083064,7895.793960,5.683130,1.211385

In [12]:
subset_test.groupby('rarity').describe()

         released_at                                                      \
               count                           mean                  min
rarity
bonus              9            2014-06-16 00:00:00  2014-06-16 00:00:00
common         31217  2013-10-02 10:33:48.510106624  1993-08-05 00:00:00
mythic          7001  2020-05-23 10:56:57.454649088  2008-10-03 00:00:00
rare           31958  2015-12-19 15:38:34.913323776  1993-08-05 00:00:00
special          386  2015-05-11 20:16:09.948186624  2006-10-06 00:00:00
uncommon       21646  2013-07-01 02:06:35.823708672  1993-08-05 00:00:00

                                                                         \
                          25%                  50%                  75%
rarity
bonus     2014-06-16 00:00:00  2014-06-16 00:00:00  2014-06-16 00:00:00
common    2007-05-04 00:00:00  2016-11-11 00:00:00  2021-06-18 00:00:00
mythic    2018-12-06 00:00:00  2021-06-19 00:00:00  2022-12-02 00:00:00
rare      2011-04-01 00:00:00  2020-04-30 00:00:00  2022-09-09 00:00:00
special   2006-10-06 00:00:00  2017-04-28 00:00:00  2021-03-19 00:00:00
uncommon  2006-02-03 00:00:00  2016-09-30 00:00:00  2021-07-23 00:00:00

                                        cmc             ... life_modifier  \
                          max  std    count       mean  ...           max
rarity                                                  ...
bonus     2014-06-16 00:00:00  NaN      9.0   0.666667  ...           NaN
common    2024-03-08 00:00:00  NaN  31211.0   1.849332  ...           NaN
mythic    2024-03-08 00:00:00  NaN   6983.0   4.446513  ...           NaN
rare      2024-10-01 00:00:00  NaN  31939.0  66.009299  ...          30.0
special   2023-08-04 00:00:00  NaN    386.0   2.917098  ...           NaN
uncommon  2024-03-08 00:00:00  NaN  21646.0   2.974406  ...           NaN

                  hand_modifier
              std         count      mean  min  25%  50%  75%  max       std
rarity
bonus         NaN           0.0       NaN  NaN  NaN  NaN  NaN  NaN       NaN
common        NaN           0.0       NaN  NaN  NaN  NaN  NaN  NaN       NaN
mythic        NaN           0.0       NaN  NaN  NaN  NaN  NaN  NaN       NaN
rare      5.68313         119.0  0.084034 -4.0 -1.0  0.0  1.0  3.0  1.211385
special       NaN           0.0       NaN  NaN  NaN  NaN  NaN  NaN       NaN
uncommon      NaN           0.0       NaN  NaN  NaN  NaN  NaN  NaN       NaN

[6 rows x 40 columns]

In [18]:
subset_test.sample()

,id,name,released_at,mana_cost,cmc,color_identity,keywords,legalities,set,set_name,...,type_line,oracle_text,flavor_text,edhrec_rank,produced_mana,loyalty,printed_name,flavor_name,life_modifier,hand_modifier
81332,e140a98a-ad97-40c9-a666-9d5055f7edd4,"Spinnerette, Arachnobat",2022-10-07,{3}{B}{G},5.0,"[B, G]","[Open an Attraction, Reach]","{'standard': 'not_legal', 'future': 'not_legal...",unf,Unfinity,...,Legendary Creature â€” Spider Performer,"Reach\nWhen Spinnerette, Arachnobat enters the...",NaN,13813.0,NaN,NaN,NaN,NaN,NaN,NaN